/* section 1 */
.bannerSection {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bannerImg {
    position: relative;
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

.imgText h3 {
    font-size: 32px;

}

.imgText h1 {
    font-size: 72px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/* section 2 */
.offerText {
    text-align: center;
}

.offerPost {
    margin-top: 60px;
}

/* section 3 */
.partyImgDiv {
    position: relative;

}



.partyText {
    position: absolute;
    top: 50%;
    left: 10%;
    color: aliceblue;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

}

.partySection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
}

.newYearImg {
    position: absolute;
    top: 15%;
    left: 65%;
}


/* section 4 */
.locationAndTime {
    margin: 60px auto;
    width: 1320px;
    height: 482px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.locationText {}

.wishBanner {
    display: flex;
    margin: 60px auto;
    width: 1320px;
    height: 482px;
    justify-content: space-between;
}

.enjoyImg {
    padding: 20px;
    border: 5px solid red;
    border-radius: 50%;
}


/* section 5 */
.holydayOffer {
    display: flex;
    margin: 60px auto;
    width: 1320px;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.holydayText {
    text-align: center;
}

.giftBox {
    position: relative;
    margin: 60px auto;
    width: 1320px;
    height: 700px;

}

.rectangleRedImg {
    position: absolute;
    bottom: 0;
}

.giftImg {
    position: absolute;
    bottom: 1%;
}

.girlImg{
    position: absolute;
    top: 5%;
    left: 67.5%;
}

.discount{
    position: absolute;
    left: 90%;
    bottom: 44%;
}